.bucky
{
	background-color: #F0F2F5;
}

.starck
{
	padding-top: 10px;
	margin-left: 450px;
	padding-bottom: 200px;
	color: #1977f2;
}

.image
{
	margin-left: 180px;
	margin-top: 30px;
	
}

.avengers
{
	margin-bottom: 0px;
	margin-top: -150px;
	
}

.forms
{
	background-color: white;
	border-radius: 8px;
	margin: 180px 0 0 80px;
	margin-bottom: 0px;
	padding: 20px 0 28px;
	width: 396px;
	box-shadow:rgb(13, 13, 14);

	
}

.email 
{
	padding: 14px 16px;
	margin: 0 0 10px 15px;
	width: 330px;
	font-size: 17px;
	height: 22px;
	text-transform: none;
	border: 1px solid #dddfe2;
	background: #FFFFFF repeat-x;
	border-radius: 6px;
}
.password
{
	padding: 14px 16px;
	margin: 0 0 10px 15px;
	width: 330px;
	font-size: 17px;
	height: 22px;
	text-transform: none;
	border: 1px solid #dddfe2;
	background: #FFFFFF repeat-x;
	border-radius: 6px;
}
.login
{
	background-color: #1977f2;
	border-radius: 6px;
	margin: 10px 0 15px 15px;
	border: none;
	font-size: 20px;
	font-weight: 600;
	line-height: 48px;
	padding: 0px 16px;
	width: 364px;
	color: white;


}
.name{
	font-family: inherit;
	border: none;
	border-radius: 6px;
	font-size: 17px;
	font-weight: 600;
	line-height: 48px;
	padding: 0 16px;
	margin: 0px 110px;
	text-decoration: none;
	white-space: nowrap;
	display: inline-block;
	background-color: #42b72a;
	color: white;
}
.forgottenpassword
{
	text-align: center;
	align-items: center;
	color: #1977f2;
	margin: 0 0 10px 0px;
	margin-left: 130px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.34px;
	

}
.ok{
	text-align: center;
	align-items: center;
	margin: 10px 0 15px 15px;
	border: none;
	font-size: 15px;
	font-weight: 600;
	line-height: 48px;
	padding: 0px 70px;
	width: 364px;
	color: rgb(7, 0, 0);
}