*{
	margin: 0px;
	width: auto;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'poppins',Arial, Helvetica, sans-serif;
}
body{
	margin: 0px 80px;
}

nav
{
	display: flex;
	width: 100%;
	background-color: white;
	position: relative;
	justify-content: space-between;
	text-align: center;
	padding: 15px 30px;
}

nav img
{
	width: 100px;
	height: 60px;
}

nav ul
{
	display: flex;
	list-style: none;
	margin: auto 0;

}

nav ul li 
{
	margin: 0 2px;
	position: relative;
	padding: 10px;
}

nav ul li:hover
{
	
	border: 1px solid rgb(238, 130, 130);
	border-radius: 6px;
}

nav ul li a
{
	color: #a6a6a6;
	text-decoration: none;
	text-transform: capitalize;
	letter-spacing: 0px;
	padding: 5px 10px;
	
}

nav ul li:hover
{
	background: white;
	color: black;
}


.search-container
{
	display: flex;
	margin: auto 0;
	height: 35px;
	line-height: 30px;
}

.search-container input
{
	border: 1px solid rgb(162, 155, 155);
	height: 90%;
	padding:10px;
	font-size: 20px;
	width: 600px;
	border-radius: 6px;
}
.search-container span
{
	color: rgb(132, 129, 129);
	font-size: 20px;
	padding: 8px;
	position: relative;
}		
div .hello img
{
	border-radius: 50%;
	background-color: white;
	width: 60px;
	height: 60px;
	display: flex;
}

div .hello
{
	display: flex;
	border-color: red;
	
	
}

div .hellothere img
{
	border-radius: 50%;
	background-color: white;
	width: 60px;
	height: 60px;
	display: flex;
}

div .hellothere
{
	display: flex;
	padding-bottom: 20px;
}

div h5
{
	padding: 15px 5px;
	font-weight: 300;
	letter-spacing: 0.5px;
	font-size: large; 		
	color: #ff7e8b;
}

div .hellothere h5
{
	padding: 15px 5px;
	font-weight: 300;
	letter-spacing: 0.5px;
	font-size: large; 		
	color: black;
}

div .hello-world img
{
	border-radius: 50%;
	background-color: white;
	width: 60px;
	height: 60px;
	display: flex;
}

div .hello-world
{
	display: flex;
}

div .hello-world h5
{
	padding: 15px 5px;
	font-weight: 300;
	letter-spacing: 0.5px;
	font-size: large; 		
	color: black;
}

.bucky
{
	display: flex;
}

.symbol button
{
	padding: 8px;
	margin: 6px;
	background-color: #ffffff;
	border: 1px solid rgb(185, 179, 179);
	border-radius: 8px;
	color: rgb(185, 179, 179);
	cursor: pointer;
}

.symbol select
{
	padding: 8px;
	margin: 6px;
	background-color: #ffffff;
	border: 1px solid rgb(185, 179, 179);
	border-radius: 8px;
	color: rgb(185, 179, 179);
}

.symbol button:hover
{
	background-color: #f8f8f8;
}

.symbol select:hover
{
	background-color: #f8f8f8;
}

.middle
{
	background-color: #f8f8f8; 
	padding: 0px 0px 30px 10px;
}

.middle div h1
{
	padding: 20px 0px;
	font-weight: 100;
	letter-spacing: 0.5px;
}

.images
{
	display: flex;
}

.images img
{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin-right: 40px ;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.images h4
{
	
	font-weight: 300;
	font-size: large;
	letter-spacing: 0.5px;
	padding: 10px 50px;
	color: #363636;

}

.brands h1
{
	padding: 20px 0px;
	font-weight: 300;
	letter-spacing: 1px;
	
}
	
.images1
{
	display: flex;
}

.images1 img
{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin-right: 40px ;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.images1 h4
{
	
	font-weight: 300;
	font-size: large;
	letter-spacing: 0.5px;
	align-items: center;
	padding: 0px 50px;
	color: #363636;

}

.vellore h1
{
	padding: 20px 0px;
	font-weight: 300;
	letter-spacing: 1px;
	
}

.restaurants
{
	display: flex;
}

.restaurants img
{
	width: 328px;
	height: 248px;
	border-radius: 12px;
	margin: 0px 20px;
	cursor: pointer;
}

.subashm
{
	display: flex ;
	margin: 0px 20px;
}

.subashm p
{
	font-weight: 300px;
	font-size: large;
	color: black;
	border-radius: 6px;
	
}
.subashm1
{
	color: rgb(105, 105, 105);
	padding-top: 10px;
	display: flex ;
	margin: 0px 20px;
}
.subash
{
	display: flex ;
	margin: 0px 20px;
}

.subash p
{
	font-weight: 300px;
	font-size: large;
	color: black;
	border-radius: 6px;
	
}
.subash1
{
	color: rgb(105, 105, 105);
	padding-top: 10px;
	display: flex ;
	margin: 0px 20px;
}

.suba
{
	display: flex ;
	margin: 0px 20px;
}

.suba p
{
	font-weight: 300px;
	font-size: large;
	color: black;
	border-radius: 6px;
	
}

.suba1
{
	color: rgb(105, 105, 105);
	padding-top: 10px;
	display: flex ;
	margin: 0px 20px;
}

.new
{
	display: flex;
}

.new img
{
	width: 48px;
	height: 18px;
	border-radius: 0px;
}

.images2
{
	display: flex;
}

.images2 img
{
	width: 150px;
	height: 100px;
}

.images2 button
{
	font-weight: 500px;
	font-size: 15px;
	width: 93.77px;
	height: 30px;
	margin-top: 30px;
	border: 1px solid rgb(189, 187, 187);
	border-radius: 6px;
	outline: none;
}

.button1
{
	display: flex;
	float: left;
	margin: 0px 700px;
}

.end
{
	background-color: #f8f8f8;  
	padding: 10px;
}

.images2 h1
{
	font-style: italic;
	font-weight: 1000;
	padding: 10px;

}

.footer
{
	display: flex;
}

.footer h4
{
	letter-spacing: 2px;
	font-weight: 600;
	font-size: 15px;
	padding: 10px 0px;
	color: black;
}

.footer li
{
	font-size: 15px;
	letter-spacing: 0.5px;
	color: #363636;
	padding: 4px;
	text-decoration: none;
	text-transform: capitalize;
	list-style: none;
	cursor: pointer;

}

.socialmedia span
{
	background-color: black;
	color: white;
	padding: 10px;
	border-radius: 50%;
}

.mean img
{
	border-radius: 6px;
}



.footer .mean
{
	margin-left: 80px;
}

.end p
{
	margin-left: 400px;
}

